*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
body {
    background-image: url(pic/backgound-website.jpg);
}
*/

.header-title {
    text-align: center;
    font-size: 36px;
}

nav{
    background-color: beige;
    text-align: center;
}
li {
    font-size: 25px;
    margin: 20px;
    text-align: center;
    display: inline-block;
}
a{
    text-decoration: none;
    color: black;
}